{% extends 'a_teacher/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Chat
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}

{% block page_title %}
  <h1 class="username">Messages</h1>
{% endblock %}

{% block content %}
  <div class="message">
    <div class="chat-user">
      <a id="teacher-btn" class="chat-user-btn">
        <i class="fas fa-chalkboard-teacher"></i>
        <p>Teacher</p>
      </a>
      <a id="student-btn" class="chat-user-btn">
        <i class="fas fa-user-graduate"></i>
        <p>Student</p>
      </a>
    </div>

    {% include 'fragments/user-list-student.html' %}

    <!-- MESSAGE HERE -->
    <div class="message-content">
      <div class="sender">
        <p class="click-for-message">Click a user to start messaging</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/chat.js' %}"></script>
  <script src="{% static 'js/online-status.js' %}"></script>
  <script src="{% static 'js/vanillaEmojiPicker.js' %}"></script>
  <script></script>
{% endblock %}
