<div class="links">
  <ul>
    <li>
      <a href="{% url 'admin_dashboard_url' %}">
        <div class="icon-holder">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="{% url 'students_mang_url' %}">
        <div class="icon-holder">
          <i class="fas fa-user-graduate"></i>
        </div>
        <p>Students</p>
      </a>
    </li>
    <li>
      <a href="{% url 'teachers_mang_url' %}">
        <div class="icon-holder">
          <i class="fas fa-chalkboard-teacher"></i>
        </div>
        <p>Teachers</p>
      </a>
    </li>
    <li>
      <a href="{% url 'class_mang_url' %}">
        <div class="icon-holder">
          <i class="fas fa-school"></i>
        </div>
        <p>Class</p>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_chat_url' %}">
        <div class="icon-holder">
          <i class="fas fa-envelope"></i>
        </div>
        <p>Chat</p>
      </a>
    </li>
    <li>
      <a href="{% url 'all_news_url' %}">
        <div class="icon-holder">
          <i class="fas fa-comment" aria-hidden="true"></i>
        </div>
        <p>News</p>
      </a>
    </li>
    <li>
      <a href="{% url 'materials_list_url' %}">
        <div class="icon-holder">
          <i class="fa-solid fa-download"></i>
        </div>
        <p>Materials</p>
      </a>
    </li>
    
  </ul>
</div>
