<ul>
  <li>
    <a id="all-btn" class="chat-user-btn active">
      <div class="icon-holder">
        <i class="fas fa-users"></i>
      </div>
      <p>All</p>
    </a>
  </li>
  <li>
    <a id="student-btn" class="chat-user-btn active">
      <div class="icon-holder">
        <i class="fas fa-user-shield"></i>
      </div>
      <p>Student</p>
    </a>
  </li>
  <li>
    <a id="teacher-btn" class="chat-user-btn">
      <div class="icon-holder">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
      <p>Teacher</p>
    </a>
  </li>
</ul>
