<div class="links">
  <ul>
    <li>
      <a href="{% url 'student_dashboard_url' %}">
        <div class="icon-holder">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="{% url 'student_material' %}">
        <div class="icon-holder">
          <i class="fas fa-door-open"></i>
        </div>
        <p>Materials</p>
      </a>
    </li>
    <li>
      <a href="{% url 'student_chat_url' %}">
        <div class="icon-holder">
          <i class="fas fa-envelope"></i>
        </div>
        <p>Chat</p>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="icon-holder">
          <i class="fas fa-school"></i>
        </div>
        <p>Class</p>
      </a>
    </li>
    <li>
      <a href="{% url 'student_quiz_view' %}">
        <div class="icon-holder">
          <i class="fas fa-bolt"></i>
        </div>
        <p>Materials</p>
      </a>
    </li>
  </ul>
</div>
