<div class="links">
  <ul>
    <li>
      <a href="{% url 'teacher_dashboard_url' %}">
        <div class="icon-holder">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a href="{% url 'teacher_classes_url' %}">
        <div class="icon-holder">
          <i class="fas fa-door-open"></i>
        </div>
        <p>Classes</p>
      </a>
    </li>
    <li>
      <a href="{% url 'teacher_chat_url' %}">
        <div class="icon-holder">
          <i class="fas fa-envelope"></i>
        </div>
        <p>Chat</p>
      </a>
    </li>
    <li>
      <a href="{% url 'class_mang_url' %}">
        <div class="icon-holder">
          <i class="fas fa-school"></i>
        </div>
        <p>Class</p>
      </a>
    </li>
    <li>
      <a href="{% url 'materials_list_url' %}">
        <div class="icon-holder">
          <i class="fa-solid fa-download"></i>
        </div>
        <p>Materials</p>
      </a>
    </li>
  </ul>
</div>
