{% load static %}
<div class="user-list">
  <div class="search-bar">
    <input type="text" placeholder="Search" name="search" id="user-search" />
  </div>

  {# Students #}
  {% if students %}
    {% for student in students %}
      <a href="{% url 'students_chatting_url' username=student.user.username %}">
        <div class="user {{ student.user.username }} student">
          <div class="profile-info">
            <div class="avatar">
              {% if student.online %}
                <div class="online"></div>
              {% else %}
                <div class="online" style="display: none;"></div>
              {% endif %}
              {% if student.user_pic %}
                <img src="{{ student.user_pic.url }}" width="150" />
              {% else %}
                <img src="{% static 'avatars/default-avatar.png' %}" alt="default-avatar" width="150" class="default" />
              {% endif %}
            </div>
            <div class="avatar-disc">
              <h3>{{ student.user.first_name }} {{ student.user.middle_name }}</h3>
              {% if student.last_message %}
                <h4>{{ student.last_message.message }}</h4>
              {% else %}
                <h4>No message</h4>
              {% endif %}
            </div>
          </div>
          <div class="extra-info">
            <p>{{ student.data.last_seen }}</p>
            <i class="fas fa-thumbtack"></i>
          </div>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p>No students available.</p>
  {% endif %}

  {# Teachers #}
  {% if teachers %}
    {% for teacher in teachers %}
      <a href="{% url 'students_chatting_url' username=teacher.user.username %}">
        <div class="user {{ teacher.user.username }} teacher">
          <div class="profile-info">
            <div class="avatar">
              {% if teacher.online %}
                <div class="online"></div>
              {% else %}
                <div class="online" style="display: none;"></div>
              {% endif %}
              {% if teacher.user_pic %}
                <img src="{{ teacher.user_pic.url }}" width="150" />
              {% else %}
                <img src="{% static 'avatars/default-avatar.png' %}" alt="default-avatar" width="150" class="default" />
              {% endif %}
            </div>
            <div class="avatar-disc">
              <h3>{{ teacher.user.first_name }} {{ teacher.user.middle_name }}</h3>
              {% if teacher.last_message %}
                <h4>{{ teacher.last_message.message }}</h4>
              {% else %}
                <h4>No message</h4>
              {% endif %}
            </div>
          </div>
          <div class="extra-info">
            <p>{{ teacher.data.last_seen }}</p>
            <i class="fas fa-thumbtack"></i>
          </div>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p>No teachers available.</p>
  {% endif %}
</div>
