{% extends 'fragments/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'a_school_admin/css/add-teacher.css' %}" />
{% endblock %}

{% block page_title %}
  <h2></h2>
  <div class="user-info">
    <h1 class="username">Add Teacher</h1>
  </div>
{% endblock %}

{% block content %}
  <form class="add-teacher-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-elements">
      <h2>Add New Teacher</h2>

      <div class="profile-wrapper">
        <label for="teacher-profile" class="profile-label" title="Select a profile picture">
          <img src="{% static 'avatars/default-avatar.png' %}" alt="Teacher Profile" id="teacher-preview" />
          <input type="file" id="teacher-profile" name="profile_pic" accept="image/*" required />
        </label>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" name="first_name" required />
        </div>

        <div class="form-group">
          <label for="last-name">Middle Name</label>
          <input type="text" id="middle-name" name="middle_name" required />
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" name="last_name" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="tel" id="phone" name="phone_number" required />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" id="age" name="age" required />
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select id="gender" name="gender" required>
            <option value="" disabled>Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="home_room_class">home_room_class</label>
          <select name="home_room_class" id="home_room_class">
            <option value="" disabled activated>Select Home Room Class</option>
            <option value="">None</option>
            {% for home_room_class in available_class_rooms %}
              <option value="{{ home_room_class }}">{{ home_room_class }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group password-wrapper">
        <label for="password">Password</label>
        <input type="password" class="password-input" id="password" name="password" required />

        <label class="toggle-visibility">
          <input type="checkbox" class="toggle-password" />
          <!-- Eye Open -->
          <svg class="icon-show pass-icon" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 576 512">
            <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z" />
          </svg>
          <!-- Eye Slash -->
          <svg class="icon-hide pass-icon" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 640 512">
            <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z" />
          </svg>
        </label>
      </div>

      <div class="form-group password-wrapper">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="password-input" id="confirm_password" name="confirm_password" required />

        <label class="toggle-visibility">
          <input type="checkbox" class="toggle-password" />
          <svg class="icon-show pass-icon" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 576 512">
            <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z" />
          </svg>
          <svg class="icon-hide pass-icon" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 640 512">
            <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c8.4-19.3 10.6-41.4 4.8-63.3c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zM373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5L373 389.9z" />
          </svg>
        </label>
      </div>
    </div>

    <!-- Error Validator -->

    <div class="error-card">
      <div class="error-header">
        <svg class="error-icon" viewBox="0 0 24 24">
          <path fill="currentColor" d="M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z" />
        </svg>
        <h3 class="error-title">Validation Errors</h3>
      </div>
      <ul class="error-list"></ul>
    </div>

    <div class="crud">
      <a href="{% url 'teachers_mang_url' %}"><button type="button" class="delete-btn right-btn">Cancel</button></a>
      <button type="submit" class="edit-btn submit-btn left-btn">Save</button>
    </div>
  </form>
{% endblock %}

{% block script %}
  <script src="{% static 'a_school_admin/js/add-teacher.js' %}"></script>
{% endblock %}
