{% extends 'a_school_admin/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{% static 'a_school_admin/css/dashboard.css' %}" />
{% endblock %}

{% block page_title %}
  <h2>Welcome back,</h2>
  <div class="user-info">
    <img src="https://picsum.photos/200" alt="" />
    <h1 class="username">{{ request.user.first_name }} {{ request.user.middle_name }}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="overview">
    <div class="info-card" id="total-students">
      <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
      <i class="fas fa-user-graduate"></i>
      <div class="info">
        <h1>734</h1>
        <p>Total Students</p>
      </div>
    </div>
    <div class="info-card" id="total-teachers">
      <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
      <i class="fas fa-chalkboard-teacher"></i>
      <div class="info">
        <h1>734</h1>
        <p>Total Teachers</p>
      </div>
    </div>
    <div class="info-card" id="total-classes">
      <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
      <i class="fas fa-school"></i>
      <div class="info">
        <h1>734</h1>
        <p>Total Classes</p>
      </div>
    </div>
    <div class="info-card" id="total-sections">
      <a href="#"><i class="fa-solid fa-ellipsis"></i></a>
      <i class="fas fa-layer-group"></i>
      <div class="info">
        <h1>734</h1>
        <p>Total Sections</p>
      </div>
    </div>
  </div>
  <div class="student-per-grade">
    <canvas id="sutent-per-grade"></canvas>
  </div>
  <div class="student-gender">
    <canvas id="student-gender"></canvas>
  </div>
  <div class="admin-table">
    <h2>Admins Recent Actions</h2>
    <table id="adminTable">
      <thead>
        <tr>
          <th>Admin Name</th>
          <th>Recent Activity</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>Added new user</td>
          <td>2025-05-03 12:30</td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>Updated permissions</td>
          <td>2025-05-03 11:10</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>Added new user</td>
          <td>2025-05-03 12:30</td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>Updated permissions</td>
          <td>2025-05-03 11:10</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>Added new user</td>
          <td>2025-05-03 12:30</td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>Updated permissions</td>
          <td>2025-05-03 11:10</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>Added new user</td>
          <td>2025-05-03 12:30</td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>Updated permissions</td>
          <td>2025-05-03 11:10</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
        <tr>
          <td>Alex Lee</td>
          <td>Deleted post</td>
          <td>2025-05-02 18:45</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'a_school_admin/js/dashboard.js' %}"></script>
  <script>
    $(document).ready(function () {
      const table = $('#adminTable').DataTable({
        responsive: true,
        initComplete: function () {
          $('.dataTables_length label')
            .contents()
            .filter(function () {
              return this.nodeType === 3
            })
            .each(function () {
              this.textContent = this.textContent.replace('entries', '').trim()
              this.textContent = this.textContent.replace('Show', '').trim()
            })
    
          $('.dataTables_filter label')
            .contents()
            .filter(function () {
              return this.nodeType === 3
            })
            .each(function () {
              this.textContent = this.textContent.replace('Search:', '').trim()
            })
    
          const labelEl = document.querySelector('.dataTables_length label')
          const selectList = document.createElement('p')
          selectList.className = 'select-label'
          selectList.textContent = 'Show'
          labelEl.appendChild(selectList)
    
          const labelSR = document.querySelector('.dataTables_filter label')
          const searchList = document.createElement('p')
          searchList.className = 'search-label'
          searchList.textContent = 'Search'
          labelSR.appendChild(searchList)
        }
      })
    })
    
    function getTheme() {
      return localStorage.getItem('theme') === 'true'
    }
    
    function getLabelColor() {
      return getTheme() ? 'black' : 'white'
    }
    
    // Chart 1
    const ctx1 = document.getElementById('sutent-per-grade').getContext('2d')
    let chart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow'],
        datasets: [
          {
            label: 'Votes',
            data: [12, 19, 3],
            backgroundColor: '#196b21'
          }
        ]
      },
      options: {
        plugins: {
          legend: {
            labels: { color: getLabelColor() }
          },
          title: {
            display: true,
            text: 'Student Votes by Color',
            color: getLabelColor(),
            font: { size: 25 },
            align: 'start'
          }
        },
        scales: {
          x: { ticks: { color: getLabelColor() } },
          y: { ticks: { color: getLabelColor() } }
        }
      }
    })
    
    // Chart 2
    const ctx2 = document.getElementById('student-gender').getContext('2d')
    let chart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: ['Grade 9', 'Grade 10', 'Grade 11', 'Grade 12'],
        datasets: [
          {
            label: 'Votes',
            data: [12, 1, 3, 4],
            backgroundColor: '#196b21'
          },
          {
            label: 'Votes',
            data: [1, 19, 3, 2],
            backgroundColor: '#196b21'
          }
        ]
      },
      options: {
        plugins: {
          legend: {
            labels: { color: getLabelColor() }
          },
          title: {
            display: true,
            text: 'Student Gender Per Grade',
            color: getLabelColor(),
            font: { size: 25 },
            align: 'start'
          }
        },
        scales: {
          x: { ticks: { color: getLabelColor() } },
          y: { ticks: { color: getLabelColor() } }
        }
      }
    })
    
    // Update both charts on theme toggle
    document.querySelector('.theme-toggle').addEventListener('change', function () {
      const newColor = getLabelColor()
    
      ;[chart1, chart2].forEach((chart) => {
        chart.options.plugins.legend.labels.color = newColor
        chart.options.plugins.title.color = newColor
        chart.options.scales.x.ticks.color = newColor
        chart.options.scales.y.ticks.color = newColor
        chart.update()
      })
    })
    document.addEventListener('keydown', function (event) {
      if (event.key === 'F9') {
        const newColor = getLabelColor()
    
        ;[chart1, chart2].forEach((chart) => {
          chart.options.plugins.legend.labels.color = newColor
          chart.options.plugins.title.color = newColor
          chart.options.scales.x.ticks.color = newColor
          chart.options.scales.y.ticks.color = newColor
          chart.update()
        })
      }
    })
  </script>
{% endblock %}
