{% extends 'fragments/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Delete News
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'a_school_admin/css/delete-news.css' %}" />
{% endblock %}

{% block content %}
  <section class="delete-confirm-section">
    <h2>Are you sure you want to delete this news?</h2>
    <p>
      <strong>{{ news.title }}</strong>
    </p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn deletebtn-">Yes, Delete</button>
      <a href="{% url 'all_news_url' %}" class="btn btn-cancel">Cancel</a>
    </form>
  </section>
{% endblock %}

{% block script %}

{% endblock %}
