{% load static %}
<nav>
    <a href="{% url "home_url" %}" class="to_home">
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'images/logo-normal.png' %}" alt="Logo">
            </div>
            <span class="logo_name"><abbr title="Comboni Senior Secondary School">  CSSS </abbr></span> 
        </div>
    </a>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="{% url 'admin_dashboard_url' %}"> 
                <i class="uil uil-estate"></i> 
                <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li><a href="#"> 
                <i class="uil uil-users-alt"></i> 
                <span class="link-name">Users</span>
                </a>
            </li>
            <li><a href="#"> 
                <i class="uil uil-setting"></i> 
                <span class="link-name">Settings</span>
                </a>
            </li>
            <li><a href="#"> 
                <i class="uil uil-chart-line"></i> 
                <span class="link-name">Reports</span>
                </a>
            </li>
            <li><a href="#"> 
                <i class="uil uil-box"></i> 
                <span class="link-name">Products</span>
                </a>
            </li>
            <li><a href="#"> 
                <i class="uil uil-shopping-cart"></i> 
                <span class="link-name">Orders</span>
                </a>
            </li>
        </ul>

        <ul class="logout-mode">
            <li class="logout-section"><a href="#">
                <i class="uil uil-signout"></i> 
                <span class="link-name">Logout</span>
            </a></li>

            <li class="mode">
                <a href="#" class="mode-label">
                    <i class="uil uil-moon"></i> 
                    <span class="link-name">Dark Mode</span>
                </a>
                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i> 

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input class="search-input" type="text" placeholder="Search here…" autocomplete="off">
            
            <div class="dropdown">
              <ul class="suggestions" id="suggestions"></ul>
            </div>
        </div>
          

        <div class="user-info">
            <h3> {{ username }} </h3>
            <img src="{{ user_pic_url }}" alt="{{ username }} Profile Picture">
        </div>
    </div>

    <div class="dash-content">
        
    </div>
</section>