{% extends 'a_school_admin/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Dashboard | Teacher Management
{% endblock %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{% static 'a_school_admin/css/teacher-detail.css' %}" />
{% endblock %}

{% block page_title %}
  <h2></h2>
  <div class="user-info">
    <h1 class="username">Teachers Management</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="teacher-container">
    <div class="teacher-card">
      {% if teacher.user_pic %}
        <img src="{{ teacher.user_pic.url }}" alt="{{ user_profile.username }}'s profile picture" class="profile-image" />
      {% else %}
        <img src="{% static 'avatars/default-avatar.png' %}" alt="Default Avatar" class="profile-image" />
      {% endif %}

      <div class="info-flex">
        <div class="first-column column">
          <div class="info-group">
            <span class="label">First Name</span><span class="value">{{ teacher.user.first_name }}</span>
          </div>
          <div class="info-group">
            <span class="label">Middle Name</span><span class="value">{{ teacher.user.middle_name }}</span>
          </div>
          <div class="info-group">
            <span class="label">Last Name</span><span class="value">{{ teacher.user.last_name }}</span>
          </div>
          <div class="info-group">
            <span class="label">Age</span><span class="value">{{ teacher.user.age }}</span>
          </div>
          <div class="info-group">
            <span class="label">Gender</span><span class="value">{{ teacher.user.gender }}</span>
          </div>
        </div>
        <div class="second-column column">
          <div class="info-group">
            <span class="label">Phone</span><span class="value">{{ teacher.user.phone_number }}</span>
          </div>
          <div class="info-group">
            <span class="label">Class Assigned</span><span class="value">{{ home_room }}</span>
          </div>
        </div>
      </div>

      <div class="crud">
        <a href=""><button class="delete-btn right-btn">Delete</button></a>
        <a href="{% url 'edit_teacher_url' teacher_username=teacher.user.username %}"><button class="edit-btn left-btn">Edit</button></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    let status = 85
    Chart.register({
      id: 'centerText',
      beforeDraw(chart) {
        const { width } = chart
        const { height } = chart
        const ctx = chart.ctx
        ctx.restore()
        const fontSize = (height / 140).toFixed(2)
        ctx.font = `${fontSize}em sans-serif`
        ctx.textBaseline = 'middle'
    
        const text = `${status}%`
        const textX = Math.round((width - ctx.measureText(text).width) / 2)
        const textY = height / 2
    
        ctx.fillStyle = 'rgb(118, 212, 121)'
        ctx.fillText(text, textX, textY)
        ctx.save()
      }
    })
    const ctx = document.getElementById('statusChart').getContext('2d')
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Completed', 'Remaining'],
        datasets: [
          {
            data: [status, 100 - status],
            backgroundColor: ['#196b21', 'crimson'],
            borderWidth: 0
          }
        ]
      },
      options: {
        cutout: '70%',
        plugins: {
          legend: { display: false }
        }
      }
    })
  </script>
{% endblock %}
