:root {
  --box-shadow: rgb(212, 212, 212);
  --tint: rgb(209, 209, 209);
  --primary: #196b21;
  --primaryL: rgb(118, 212, 121);
  --primaryD: rgb(45, 170, 49);
  --low-light: rgb(219, 219, 219);
  --primary-text: rgb(32, 32, 32);
  --secondary-text: rgb(97, 97, 97);
  --last-text: rgb(153, 153, 153);
  --high-dark: rgb(26, 26, 26);
  --low-dark: rgb(49, 49, 49);
  --background: rgb(255, 255, 255); 
  --light-background: rgb(233, 233, 233);
  --dark-background: rgb(235, 235, 235);
  --switch-mode: 0.5s;
}

body.dark-mode {
  --box-shadow: rgb(45, 45, 45);
  --tint: rgb(75, 75, 75);
  --primaryL: rgb(118, 212, 121);
  --primaryD: rgb(45, 170, 49);
  --low-light: rgb(70, 70, 70);
  --primary-text: rgb(238, 238, 238);
  --secondary-text: rgb(211, 211, 211);
  --last-text: rgb(153, 153, 153);
  --high-dark: rgb(230, 230, 230);
  --low-dark: rgb(224, 224, 224);
  --background: rgb(18, 18, 18);
  --light-background: rgb(43, 46, 42);
  --dark-background: rgb(24, 24, 24);
  background-color: var(--background);
}