:root {
  --link-visited: #cacaca;
  --link: #f0f0f0;
  --link-hover: white;
  --primary: #0c7c0c;
  --primary-text: white;
  --secondary-text: rgb(236, 236, 236);
  --primary-light: #0f920f;
  --primary-ultra-light: #0c8b0c;
}
