{% extends 'a_teacher/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Chat
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'a_teacher/css/chat.css' %}" />
{% endblock %}

{% block page_title %}

{% endblock %}

{% block content %}
  <div class="message">
    <div class="chat-user">
      <a id="admin-btn" class="chat-user-btn active">
        <i class="fas fa-user-shield"></i>
        <p>Admin</p>
      </a>
      <a id="teacher-btn" class="chat-user-btn">
        <i class="fas fa-chalkboard-teacher"></i>
        <p>Teacher</p>
      </a>
      <a id="student-btn" class="chat-user-btn">
        <i class="fas fa-user-graduate"></i>
        <p>Student</p>
      </a>
    </div>

    <div class="user-list">
      <div class="search-bar">
        <input type="text" placeholder="Search" name="search" id="user-search" />
      </div>

      <!-- Students User -->

      {% if students %}
        {% for student in students %}
          <div class="user {{ student.username }} student">
            <div class="profile-info">
              <div class="avatar">
                <div class="online"></div>
                {% if student.user_pic %}
                  <img src="{{ student.user_pic.url }}" width="150" />
                {% else %}
                  <img src="{% static 'avatars/default-avatar.png' %}" alt="default-avatar" width="250" class="default" />
                {% endif %}
              </div>
              <div class="avatar-disc">
                <h3>{{ student.username }}</h3>
                {% for latest_message in latest_messages %}
                  {% if student == latest_message.sender or student == latest_message.receiver %}
                    <h4>{{ latest_message.message }}</h4>
                  {% else %}
                    <h4>No message</h4>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="extra-info">
              <p>{{ student.data.last_seen }}</p>
              <i class="fas fa-thumbtack"></i>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <!-- admins User -->

      {% if admins %}
        {% for admin in admins %}
          <div class="user {{ admin.username }} admin">
            <div class="profile-info">
              <div class="avatar">
                <div class="online"></div>
                {% if admin.user_pic %}
                  <img src="{{ admin.user_pic.url }}" width="150" />
                {% else %}
                  <img src="{% static 'avatars/default-avatar.png' %}" alt="default-avatar" width="250" class="default" />
                {% endif %}
              </div>
              <div class="avatar-disc">
                <h3>{{ admin.username }}</h3>
                {% for latest_message in latest_messages %}
                  {% if admin == latest_message.sender or admin == latest_message.receiver %}
                    <h4>{{ latest_message.message }}</h4>
                  {% else %}
                    <h4>No message</h4>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="extra-info">
              <p>{{ admin.data.last_seen }}</p>
              <i class="fas fa-thumbtack"></i>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <!-- teachers User -->

      {% if teachers %}
        {% for teacher in teachers %}
          <div class="user {{ teacher.username }} teacher">
            <div class="profile-info">
              <div class="avatar">
                <div class="online"></div>
                {% if teacher.user_pic %}
                  <img src="{{ teacher.user_pic.url }}" width="150" />
                {% else %}
                  <img src="{% static 'avatars/default-avatar.png' %}" alt="default-avatar" width="250" class="default" />
                {% endif %}
              </div>
              <div class="avatar-disc">
                <h3>{{ teacher.username }}</h3>
                {% for latest_message in latest_messages %}
                  {% if teacher == latest_message.sender or teacher == latest_message.receiver %}
                    <h4>{{ latest_message.message }}</h4>
                  {% else %}
                    <h4>No message</h4>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="extra-info">
              <p>{{ teacher.data.last_seen }}</p>
              <i class="fas fa-thumbtack"></i>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <!-- If there is not user => message -->
      <p id="no-users" style="display:none">No users in this category.</p>
    </div>

    <!-- MESSAGE HERE -->
    <div class="message-content">
        <div class="message-data">
            <div class="sender">
                <p>Demo Message</p>
                <p class="data">Demo date</p>
            </div>
            {% if chat_messages %}
                {% for chat_message in chat_messages %}
                    {% if chat_message.sender.user == request.user %}
                        <div class="sender">
                            {% else %}
                        <div class="receiver">
                    {% endif %}
                    <p>{{chat_message.message}}</p>
                    <p class="data">{{chat_message.timestamp}}</p>
                            </div>
                {% endfor %}
            {% else %}
                <div>
                    <p class="no-message">No Message Yet.</p>
                </div>
            {% endif %}
      </div>
      <div class="message-form">
        <form action="">
          <i class="fa-sharp fa-solid fa-paperclip"></i>

          <input type="text" placeholder="Write a message..." class="message-input" id="message-input" />

          <div class="right-icons">
            <i class="far fa-smile emoji-btn"></i>
            <button type="submit" class="send-btn"><i class="fas fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'a_teacher/js/chat.js' %}"></script>
  <script src="{% static 'js/vanillaEmojiPicker.js' %}"></script>
  <script></script>
{% endblock %}
