{% extends 'a_teacher/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Teacher Dashboard
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'a_teacher/css/dashboard.css' %}" />
{% endblock %}

{% block page_title %}
  <h2>Welcome back,</h2>
  <div class="user-info">
    {% if user_profile.user_pic %}
      <img src="{{ user_profile.user_pic.url }}" alt="{{ user_profile.username }}'s profile picture" />
    {% else %}
      <img src="{% static 'avatars/default-avatar.png' %}" alt="Default Avatar" />
    {% endif %}
    <h1 class="username">{{ request.user.first_name }} {{ request.user.middle_name }}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="profile-settings">
    <div class="profile-top">
      <h3>My Profile</h3>
      <div class="actions">
        <i class="far fa-pen-to-square"></i>
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="profile-info">
      <div class="img-holder">
        {% if user_profile.user_pic %}
          <img src="{{ user_profile.user_pic.url }}" alt="{{ user_profile.username }}'s profile picture" />
        {% else %}
          <img src="{% static 'avatars/default-avatar.png' %}" alt="Default Avatar" />
        {% endif %}
      </div>
      <h1 class="username">{{ request.user.first_name }} {{ request.user.middle_name }}</h1>
    </div>
    <div class="user-info">
      <i class="fas fa-info-circle"></i>
      <div class="info">lkjlk</div>
    </div>
  </div>
{% endblock %}
