{% extends 'fragments/dashboard-frag.html' %}
{% load static %}

{% block title %}
  Marks Overview | Dashboard
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{% static 'a_teacher/css/view-marks.css' %}" />
{% endblock %}

{% block page_title %}
  <div class="user-info">
    <h1 class="username">Class: {{ activity.class_room.class_name.class_name }}</h1>
  </div>
  <h2>Marks for {{ activity.get_activity_type_display }}: {{ activity.activity_name }}</h2>
{% endblock %}

{% block content %}
  {% if students %}
    <div class="table-container">
      <div class="table-header">
        <h2>Out Of: {{ activity.max_score }}</h2>
        <h2>Student Scores</h2>
      </div>
      <table id="marksTable" class="classTable">
        <thead>
          <tr>
            <th>Student</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr>
              <td>{{ student.username }}</td>
              <td>
                {% for mark in marks %}
                  {% if mark.student == student %}
                    {{ mark.score }}
                  {% endif %}
                {% empty %}
                  --
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="actions">
        <a href="{% url 'fill_marks_url' activity.id %}" class="btn edit"><i class="fa fa-pen"></i> Edit Marks</a>
        <a href="{% url 'view_class_url' class_name=activity.class_room.class_name.class_name %}#activities_list" class="btn back"><i class="fa fa-arrow-left"></i> Back</a>
      </div>
    </div>
  {% else %}
    {% include 'fragments/no_data_box.html' with empty_title='No Students Found' empty_message='There are no students in this class.' btn_name='Go back' add_url='view_class_url' arg=activity.class_room.class_name.class_name %}
  {% endif %}
{% endblock %}

{% block script %}
  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <script>
    $(function () {
      $('#marksTable').DataTable({
        responsive: true,
        initComplete: function () {
          var api = this.api()
          var $cont = $(api.table().container())
    
          // clean labels
          $cont
            .find('.dataTables_length label, .dataTables_filter label')
            .contents()
            .filter(function () {
              return this.nodeType === 3
            })
            .each(function () {
              this.textContent = this.textContent.replace(/Show|entries|Search:/g, '').trim()
            })
    
          // add our Show/Search labels
          $('<span class="select-label">Show</span>').appendTo($cont.find('.dataTables_length label'))
          $('<span class="search-label">Search</span>').appendTo($cont.find('.dataTables_filter label'))
        }
      })
    })
  </script>
{% endblock %}
