{% extends "base.html" %}
{% load static %}


{% block title %}Home | CSSS{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'a_visitor/css/home.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/header.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <style>
    .hero_container::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: url("{% static 'a_visitor/images/hero_background.jpg' %}");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.6;
    }
  </style>
{% endblock %}

{% block content %}
<header class="hero_container">
    <div class="menu_overlay"></div>

    <nav>
      <button class="menu-toggle">&#9776;</button>
      <div class="logo">
        <img src="{% static 'images/logo-light.png' %}" alt="School Logo" />
        <h1>CSSS</h1>
      </div>

      <div class="nav_links">
        <i class="fas fa-times"></i>
        <a href="{% url 'home_url' %}">Home</a>
        <a href="{% url 'news_url' %}">News</a>
        <a href="{% url 'about_url' %}">About</a>
        <a href="{% url 'contact_url' %}">Contact</a>
        <a href="{% url 'home_url' %}"><button>Login</button></a>
      </div>
    </nav>
    <div class="hero">
      <div class="slogn">
        <i><p>Always More, Always Better, For Our GOD & Country</p></i>
      </div>
      <div class="main_header">
        <h1>Comboni Senior Secondary School</h1>
      </div>
      <div class="sub_header">
        <h3>
          Shaping Future Leaders With Knowledge, Discipline, and Integrity.
        </h3>
      </div>
      <div class="cta">
        <a href="{% url 'home_url' %}"><button>Login</button></a>
        <a href="{% url 'contact_url' %}"
          ><button class="optional_cta">Contact Us</button></a
        >
      </div>
    </div>
  </header>
  {% include "fragments/footer.html" %}
{% endblock %}

{% block script %}
  <script src="{% static 'a_visitor/js/home.js' %}"></script>
{% endblock %}