{% extends "base.html" %}
{% load static %}


{% block title %}Home | CSSS{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'a_visitor/css/news.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub_title.css' %}">
    <link rel="stylesheet" href="{% static 'css/testimony.css' %}">
    <link rel="icon" href="{% static 'images/1x/Asset 7.png' %}" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap"
    rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  <style>
    .hero_container::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: url("{% static 'a_visitor/images/graduation.jpg' %}");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }
    .hero_container {
      min-height: 1vh !important;
    }
  </style>
{% endblock %}

{% block content %} 
  {% include "fragments/messages.html" %}
  {% include "fragments/header.html" with slogn="" main_header="News" sub_header="" %}
  {% include "fragments/sub_title.html" with title_sub="Latest News" %}
  {% if recent_news %}
  <section class="news-section-latest">
    {% for item in recent_news %}

        <article class="news-card">
          <div class="news-image">
            <img src="{{ item.image_src }}" alt="{{ item.title }}">
          </div>
          <div class="news-content">
            <h3>{{ item.title }}</h3>
            <p class="description">{{ item.description }}</p>
            <div class="news-footer">
              <span class="news-date">{{ item.date }}</span>
              <a href="{{ item.url }}" class="read-more">Read more</a>
            </div>
          </div>
        </article>
      {% endfor %}

  {% else %}
  <div class="empty-box">
    <h2>No Latest News Available</h2>
    <p>Please check back later.</p>
  </div>
  {% endif %}
  </section>
  {% include "fragments/sub_title.html" with title_sub="Other News" %}
  {% if news_other_items %}
  <section class="news-section-other">
    {% for item in news_other_items %}
      <article class="news-card">
        <div class="news-image">
          <img src="{{ item.image_src }}" alt="{{ item.title }}">
        </div>
        <div class="news-content">
          <h3>{{ item.title }}</h3>
          <p class="description">{{ item.description }}</p>
          <div class="news-footer">
            <span class="news-date">{{ item.date }}</span>
            <a href="{{ item.url }}" class="read-more">Read more</a>
          </div>
        </div>
      </article>
    {% endfor %}
  </section>
  {% else %}
    <div class="empty-box">
      <h2>No News Available</h2>
      <p>Please check back later.</p>
    </div>
  {% endif %}
  
  {% include "fragments/footer.html" %}
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'a_visitor/js/news.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
{% endblock %}