.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
}

.class-card {
    width: 90%;
    background-color: var(--light-background);
    color: var(--primary-text);
    border-radius: 0.3em;
    padding: 1.5em;
    transition: background-color var(--switch-mode) ease, color 0.3s ease;
}

.class-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}


.class-name {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--primary-text);
}


.class-details span {
    color: var(--secondary-text);
    font-weight: bold;
}

.class-details p {
    margin: 0.4em 0;
    color: var(--last-text);
}

/* Edit/Delete Buttons */
.crud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2em;
}

.crud .right-btn {
    border-radius: 0 0.3em 0.3em 0;
}

.crud .left-btn {
    border-radius: 0.3em 0 0 0.3em;
}

.crud .delete-btn,
.crud .edit-btn,
.crud .detail-btn {
    width: 5.5em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 0.3em 0.5em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.crud .edit-btn {
    background: var(--edit-btn);
}

.crud .edit-btn:hover {
    background: var(--edit-btn-hover);
}

.crud .delete-btn {
    background: var(--delete-btn);
}

.crud .delete-btn:hover {
    background: var(--delete-btn-hover);
}

.crud .detail-btn {
    background: var(--detail-btn);
}

.crud .detail-btn:hover {
    background: var(--detail-btn-hover);
}