* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --box-shadow: 212, 212, 212;
  --tint: 231, 231, 231;
  --primary: 76, 175, 80;
  --primaryL: 118, 212, 121;
  --primaryD: 45, 170, 49;
  --low-light: 219, 219, 219;
  --primary-text: 0, 0, 0;
  --secondary-text: 102, 102, 102;
  --last-text: 153, 153, 153;
  --high-dark: 26, 26, 26;
  --low-dark: 49, 49, 49;
  --background: 225, 225, 225;
  --light-background: 210, 210, 210;
  --dark-background: 227, 236, 226;
  --switch-mode: 0.5s;
  background-color: rgb(var(--light-background));
  transition: background-color var(--switch-mode) ease;
}

body.dark-mode {
  --box-shadow: 45, 45, 45;
  --tint: 50, 50, 50;
  --primary: 76, 175, 80;
  --primaryL: 118, 212, 121;
  --primaryD: 45, 170, 49;
  --low-light: 70, 70, 70;
  --primary-text: 255, 255, 255;
  --secondary-text: 204, 204, 204;
  --last-text: 153, 153, 153;
  --high-dark: 230, 230, 230;
  --low-dark: 224, 224, 224;
  --background: 18, 18, 18;
  --light-background: 30, 30, 30;
  --dark-background: 24, 24, 24;
  background-color: rgba(var(--light-background), 0.9);
}

/* Dashboard */

.dashboard {
  display: flex;
}

/* Header */

.header#slide-bar {
  background-color: rgba(var(--background), 0.7);
  width: 16em;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  transition: width 0.7s ease;
  border-right: 1px solid rgba(var(--last-text), 0.7);
}

body.slide .header {
  width: 4em !important;
}

.header .nav-head {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.header .nav-head img {
  width: 3.9em;
}

body.slide .header .nav-head img {
  display: none;
}

body.slide .header .nav-head {
  position: static;
  justify-content: center;
}

.header .nav-head .fas {
  color: rgb(var(--secondary-text));
  cursor: pointer;
  position: absolute;
  right: 0.7em;
  top: 3em;
  transform: translateY(-50%);
}

body.slide .nav-head .fas {
  display: none;
}

.nav {
  display: flex;
  width: 100%;
  font-family: sans-serif;
  flex-direction: column;
  /* padding: 0.3em 0.3em 0.3em 1em; */
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

body.slide .nav {
  align-items: center;
  /* padding: 0.3em; */
}

.nav .links {
  height: 100%;
}

.nav .links ul {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.nav .links ul li {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 4em 1em 2em;
  transition: all var(--switch-mode) ease;
}

body.slide .links ul {
  padding: 0 0 0 2.5em;
}

.nav .links ul li:hover {
  cursor: pointer;
  background-color: rgba(var(--primary), 0.7);
}

.nav .links ul li:hover i,
.nav .links ul li:hover a {
  cursor: pointer;
}

.nav .links ul li a {
  text-decoration: none;
  color: rgb(var(--secondary-text));
  font-weight: 300;
  font-size: 1.4em;
  width: 60%;
}

body.slide .nav .links ul li a {
  display: none;
}

.nav .links ul li i {
  font-size: 1.4em;
  color: rgb(var(--primary-text));
}

body.slide .nav .links ul li i {
  font-size: 1.4em !important;
}

.nav .actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.3em;
  font-weight: 100;
}
.nav .actions .action-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4em;
  color: rgb(var(--secondary-text));
}

body.slide .nav .actions .action-child {
  justify-content: center;
}

.nav .actions .hr {
  width: 90%;
  height: 2px;
  background-color: rgb(var(--last-text));
  margin: 1em 0;
}

.nav .actions .theme {
  padding: 0 0 0 1em;
  gap: 0;
}

body.slide .nav .actions .theme {
  padding: 0;
}

body.slide .nav .actions h4 {
  display: none;
}

.menu-icon {
  width: 1.4em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  display: none;
}

body.slide .menu-icon {
  display: flex !important;
}

.menu-icon:hover {
  cursor: pointer;
}

.bar {
  height: 0.2em;
  background: rgb(var(--secondary-text));
  border-radius: 0.2em;
  width: 100%;
}

.bar.short {
  width: 60%;
}

/* Theme Toggle*/

/* From Uiverse.io by Madflows */

body.slide .toggle-switch {
  transform: scale(0.4);
}

body.slide .checkbox:checked ~ .slider::before {
  transform: translateX(3.12em);
}

.toggle-switch {
  transform: scale(0.5);
  position: relative;
  min-width: 6.25em; /* 100px */
  height: 3em; /* 50px */
  --light: white;
  --dark: #28292c;
}

.switch-label {
  position: absolute;
  min-width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 1.5625em; /* 25px */
  cursor: pointer;
  border: 0.1875em solid var(--dark); /* 3px */
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  min-width: 100%;
  height: 100%;
  border-radius: 1.5625em; /* 25px */
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 0.625em; /* 10px */
  left: 0.625em; /* 10px */
  min-width: 1.5625em; /* 25px */
  height: 1.5625em; /* 25px */
  border-radius: 50%;
  box-shadow: inset 0.75em -0.25em 0 0 var(--light); /* 12px, -4px */
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(3.125em); /* 50px */
  background-color: var(--dark);
  box-shadow: none;
}

/* Theme Toggle End */

/* End Header */

/* Top */

.top {
  width: 100%;
  background-color: rgba(var(--light-background), 0.3);
  min-height: 6em;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transition: background-color var(--switch-mode) ease;
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(var(--box-shadow), 0.6);
}

.top .greeting {
  display: flex;
  flex-direction: column;
}

.top .greeting .user-info {
  display: flex;
  gap: 0.6em;
}

.top .greeting .user-info img {
  width: 2em;
  border-radius: 50%;
}

.top .greeting .user-info h1 {
  color: rgb(var(--primary-text));
}

.top .greeting > h2 {
  font-size: 1.1em;
  color: rgba(var(--primary-text), 0.8);
}

/* Logout Section */

.logout form button {
  padding: 0.5em 0.7em;
  font-size: 1.2em;
  background-color: rgb(var(--primaryD));
  color: white;
  border-radius: 0.2em;
  border: none;
}

.logout form button:hover {
  background-color: rgb(var(--primary));
  cursor: pointer;
}

/* End Top */

.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

@media (max-width: 740px) {
  .top .greeting h2 {
    display: none;
  }
  .top .greeting .user-info h1 {
    font-size: 1.7em;
  }
  /* LAYER */

  .layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    inset: 0;
    background-color: #29292936;
    cursor: pointer;
  }

  body.dark-mode .layer {
    background-color: rgba(0, 0, 0, 0.452);
  }
}

@media (max-width: 800px) {
  .header {
    position: fixed !important;
  }
  .top {
    padding: 0 0 0 4em;
  }
}
