* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.feature-section {
  width: 100vw;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.feature-section .swiper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}

.feature-section .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.feature_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feature_card .fa {
  font-size: 5rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.feature_title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.feature_description {
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
}

.feature-section .swiper-button-next::after,
.feature-section .swiper-button-prev::after {
  color: var(--primary);
}

.feature-section .swiper-pagination .swiper-pagination-bullet {
  background: var(--primary-ultra-light) !important;
}

.feature-section .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary) !important;
}

@media (max-width: 439px) {
  .feature-section .swiper-button-next,
  .feature-section .swiper-button-prev {
    display: none;
  }
}
