* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden !important;
}


/* Feature CSS */

.feature-section {
  width: 100vw;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.feature-section .swiper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}

.feature-section .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.feature_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feature_card .fa {
  font-size: 5rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.feature_title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary);
}

.feature_description {
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  color: rgb(46, 46, 46);
}

.feature-section .swiper-button-next::after,
.feature-section .swiper-button-prev::after {
  color: var(--primary);
}

.feature-section .swiper-pagination .swiper-pagination-bullet {
  background: var(--primary-ultra-light) !important;
}

.feature-section .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary) !important;
}


/* Testimonial CSS */


.testimony-section {
  margin: 2em;
}

.testimonial {
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
  padding: 1rem 0;
}

.testimonial .swiper {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.testimonial .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.testimonial {
  width: 100vw;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.testimonial .swiper {
  width: 100%;
  padding: 2em 0;
}

.testimonial .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.testimonial .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.testimonial .card {
  width: 100% !important;
  max-width: 1000px !important;
  height: 30em !important;
  display: flex;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
}

.testimonial .card-image {
  width: 40%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.testimonial .card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 1rem;
  position: relative;
  height: 100%;
}

.testimonial .message {
  font-size: 1.2rem;
  margin: 0;
}

.testimonial .message-by {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

.testimonial .swiper-button-next::after,
.testimonial .swiper-button-prev::after {
  color: var(--primary);
}

.testimonial .swiper-pagination .swiper-pagination-bullet {
  background: var(--primary-ultra-light) !important;
}

.testimonial .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary) !important;
}

@media (max-width: 439px) {

  .testimony-section .swiper-button-next,
  .testimony-section .swiper-button-prev {
    display: none;
  }
}


@media (max-width: 439px) {

  .feature-section .swiper-button-next,
  .feature-section .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 780px) {
  .hero_container .hero .main_header h1 {
    font-size: 3em !important;
  }
}